{% extends 'base.html.twig' %}

{% block title %}Смена пароля{% endblock %}

{% block body %}
    <div class="row" id="row-body">
        {{ include('account/account_menu.html.twig') }}
        <div class="col">
            <div class="form">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                <h4>Редактирование профиля</h4>
                <div class="register-top-grid">
                    <div class="register__item">
                        <div class="register__item-label">
                            Email
                        </div>
                        <div class="form-error">
                            {{ form_errors(form.email) }}
                        </div>
                        <div class="register__item-widget">
                            {{ form_widget(form.email) }}
                        </div>
                    </div>
                    <div class="register__item">
                        <div class="register__item-label">
                            Логин
                        </div>
                        <div class="form-error">
                            {{ form_errors(form.login) }}
                        </div>
                        <div class="register__item-widget">
                            {{ form_widget(form.login) }}
                        </div>
                    </div>
                </div>
                <div class="form-but">
                    <button class="btn" type="submit">Изменить</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}