{% extends 'base.html.twig' %}

{% block title %}Смена пароля{% endblock %}

{% block body %}
    <div class="form">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <h4>Register</h4>
        <div class="register-top-grid">
            <div class="register__item">
                {% if error %}
                    <div class="form-error">
                        {{ error }}
                    </div>
                {% endif %}
                <div class="register__item-label">
                    Старый пароль
                </div>
                <div class="form-error">
                    {{ form_errors(form.old_pass) }}
                </div>
                <div class="register__item-widget">
                    {{ form_widget(form.old_pass) }}
                </div>
            </div>
            <div class="register__item">
                <div class="register__item-label">
                    {{ form_label(form.new_password.first) }}
                </div>
                <div class="form-error">
                    {{ form_errors(form.new_password.first) }}
                </div>
                <div class="register__item-widget">
                    {{ form_widget(form.new_password.first) }}
                </div>
                <div class="form-help">
                    {{ form_help(form.new_password.first) }}
                </div>
            </div>
            <div class="register__item">
                <div class="register__item-label" style="margin-bottom: 5px">
                    {{ form_label(form.new_password.second) }}
                </div>
                <div class="form-error">
                    {{ form_errors(form.new_password.second) }}
                </div>
                <div class="register__item-widget">
                    {{ form_widget(form.new_password.second) }}
                </div>
                <div class="form-help">
                    {{ form_help(form.new_password.second) }}
                </div>
            </div>
        </div>
        <div class="form-but">
            <button class="btn" type="submit">Submit</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}