{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {{ include('partials/flashes.html.twig') }}
    <div class="login-container">
        <div class="login-container-left">
            <form method="post">
                <div class="form">
                    {% if error|default(null) %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div class="login-top-grid">
                        <h4 class="h4 mb-3 font-weight-normal">Registered customers</h4>
                        <div class="register__item register__item-label">
                            <p>If you have an account with us, please log in.</p>
                        </div>
                        <div class="register__item" style="margin-top: 10px">
                            <div class="register__item-label">
                                <label for="inputEmail" class="sr-only">Email / Login</label>
                            </div>
                            <div class="register__item-widget">
                                <input value="{{ last_username }}" name="email" id="inputEmail"  placeholder="Email / Login" required autofocus>
                            </div>
                        </div>
                        <div class="register__item">
                            <div class="register__item-label">
                                <label for="inputPassword" class="sr-only">Password</label>
                            </div>
                            <div class="register__item-widget">
                                <input type="password" name="password" id="inputPassword" placeholder="Password" required>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                    </div>
                    <div class="checkbox mb-3" id="remember-me">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    <div class="form-but" style="margin-top: 2px">
                        <button class="btn" >Sign in</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="login-container-right">
            <h4 class="h4 mb-3 font-weight-normal">New customers</h4>
            <p>By creating an account with our store, you will be able to move through the checkout process faster, view your orders in your account and more.</p>
            <div class="form-but" style="margin-top: 2px; margin-left: 0px">
                <a href="{{ path('app_register') }}">
                    <button class="btn" >Register</button>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
