{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {{ include('partials/flashes.html.twig') }}
    <div class="login-container">
        <div class="login-container-left">
            <form method="post">
                <div class="form">
                    {% if error|default(null) %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div class="login-top-grid">
                        <h4 class="h4 mb-3 font-weight-normal">Registered customers</h4>
                        <div class="register__item register__item-label">
                            <p>If you have an account with us, please log in.</p>
                        </div>
                        <div class="register__item" style="margin-top: 10px">
                            <div class="register__item-label">
                                <label for="inputEmail" class="sr-only">Email / Login</label>
                            </div>
                            <div class="register__item-widget">
                                <input value="{{ last_username }}" name="email" id="inputEmail"  placeholder="Email / Login" required autofocus>
                            </div>
                        </div>
                        <div class="register__item">
                            <div class="register__item-label">
                                <label for="inputPassword" class="sr-only">Password</label>
                            </div>
                            <div class="register__item-widget">
                                <input type="password" name="password" id="inputPassword" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="forgot-password-clean mt-1">
                            <a href="#" data-toggle="modal" data-target="#forgot">Забыли пароль?</a>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                    </div>
                    <div class="checkbox mb-3" id="remember-me">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    <div class="form-but" style="margin-top: 2px">
                        <button class="btn" >Sign in</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="login-container-right">
            <h4 class="h4 mb-3 font-weight-normal">New customers</h4>
            <p>By creating an account with our store, you will be able to move through the checkout process faster, view your orders in your account and more.</p>
            <div class="form-but" style="margin-top: 2px; margin-left: 0px">
                <a href="{{ path('app_register') }}">
                    <button class="btn" >Register</button>
                </a>
            </div>
        </div>
    </div>
    <div class="modal fade forgot-password" id="forgot" tabindex="-1" role="dialog" aria-labelledby="forgotArea" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mt-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-4">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="text-center">
                                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                                            <h2 class="text-center">Забыли пароль?</h2>
                                            <p>Вы можете восстановить его здесь.</p>
                                            <div class="panel-body">
                                                <form id="register-form" role="form" autocomplete="off" class="form error-email" method="post">
                                                    <p class="error-email-text"></p>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input id="email_forgot" name="email_forgot" placeholder="Email" class="form-control"  type="email">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input id="forgot-reset" name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Восстановить" type="button">
                                                    </div>

                                                    <input type="hidden" class="hide" name="token" id="token" value="">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).on('click', '#forgot-reset', function(){
            let email = $('input#email_forgot').val();
                $.ajax({
                    url:'{{ path('app_forgot_password') }}',
                    type: "POST",
                    dataType: "json",
                    data: {
                        'email':email
                    },
                    async: true,
                    success: function ()
                    {
                        console.log(1);
                        $('.text-center').html("<i class=\"far fa-check-circle fa-4x\"></i></h3><h2 class=\"text-center\">Ваш пароль отправлен на почту</h2>");
                    },
                    error: function (error) {
                        $('.error-email-text').text('Email не найден');
                    }
                });
        });
    </script>
{% endblock %}