{% extends 'base.html.twig' %}

{% block title %}DeliveryOrder index{% endblock %}

{% block body %}
    <h1>DeliveryOrder index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Address</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for delivery_order in delivery_orders %}
            <tr>
                <td>{{ delivery_order.id }}</td>
                <td>{{ delivery_order.address }}</td>
                <td>{{ delivery_order.status }}</td>
                <td>
                    <a href="{{ path('delivery_order_show', {'id': delivery_order.id}) }}">show</a>
                    <a href="{{ path('delivery_order_edit', {'id': delivery_order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('delivery_order_new') }}">Create new</a>
{% endblock %}
