{% extends 'base.html.twig' %}

{% block title %}Доставка еды{% endblock %}

{% block body %}
<div class="choose-seller__container">
    <div class="row">
        <div class="col-12">
            <div class="input-group">
            {{ form_start(form) }}
                {{ form_widget(form.seller, {'attr': {'class': 'custom-select'}}) }}
                <div class="input-group-append">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            {{ form_end(form) }}
                {{ include('partials/flashes.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
