{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="container">

        <div class="modal" role="dialog" id="shopping-cart"><div class="modal-dialog" role="document">
            <div class="modal-content card" tabindex="-1">
                <div class="card-header bg-dark text-light">
                    Корзина
                </div>
                <div class="card-body" id="shopping-cart_list">
                </div>
                <div class="card-footer">
                    <div class="pull-right" style="margin: 10px">
                        <div class="pull-right" style="margin: 5px">
                            Стоимость: <b id="shopping-cart_total">0.00</b> P
                        </div>
                        <button class="btn btn-success" id="shopping-cart_clear">Очистить корзину</button>
                        <a href="" class="btn btn-success pull-right">Оформить заказ</a>
                    </div>
                </div>
            </div>
        </div></div>

        <div class="row">

            <div class="col-lg-3">
                <h1 class="my-4"><a href="{{ path("index") }}">{{ seller.name }}</a></h1>
                <div class="list-group">
                    <a href="#" class="list-group-item">Категория 1</a>
                    <a href="#" class="list-group-item">Категория 2</a>
                    <a href="#" class="list-group-item">Категория 3</a>
                </div>
            </div>

            <div class="col-lg-9">

                <div class="container">
                    <h2>Поиск продуктов</h2>
<<<<<<< HEAD
                    <form action="{{ path('product_index', { 'id' : seller.getId()}) }}">
=======
                    <form action="{{ path('product_index', {'id' : app.request.get('id')}) }}">
>>>>>>> hot_fix
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-11">
                                    <input type="text" class="form-control" value = "{{app.request.get('query')}}"   name="query">
                                </div>
                                <div class="col-md-1">
                                    <button type="submit" class="btn btn-">Найти</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="row">
                {% for product in products %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100" id="product">
                            <a href="#"><img class="card-img-top product-image" src="{{ asset('uploads/product_images/' ~ product.image) }}" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#" class="product-name">{{ product.name }}</a>
                                </h4>
                                <h5 class="product-price">{{ product.price }}</h5>
                                <p class="card-text product-description">
                                {% if product.description|length > 100 %}
                                    {{ product.description[:100] }}...
                                {% else %}
                                    {{ product.description }}
                                {% endif %}
                                </p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary btn-add" id="{{ product.id }}">В корзину</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>


            </div>

        
        </div>
        <div class="row">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item" {{ thisPage == 1 ? 'class="disabled"' }}>
                        <a class="page-link" href="{{ path('product_index', {page: thisPage-1 < 1 ? 1 : thisPage-1, query: app.request.get('query'), 'id' : app.request.get('id')}) }}">«</a>
                    </li>

                    {% for i in 1..maxPages %}
                        {% if i > 0 %}
                            <li class="page-item {{ thisPage == i ? 'active' }}" >
                                <a class="page-link" href="{{ path('product_index', {page: i, query: app.request.get('query'), 'id' : app.request.get('id')}) }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    <li class="page-item" {{ thisPage == maxPages ? 'class="disabled"' }}>
                        <a class="page-link" href="{{ path('product_index', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage, query: app.request.get('query'), 'id' : app.request.get('id')}) }}">»</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
{% endblock %}
