{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="container">

        <div class="row">

            <div class="col-lg-3">
                <h1 class="my-4"><a href="{{ path("index") }}">{{ seller.name }}</a></h1>
                <div class="list-group">
                    <a href="#" class="list-group-item">Категория 1</a>
                    <a href="#" class="list-group-item">Категория 2</a>
                    <a href="#" class="list-group-item">Категория 3</a>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="row">
                {% for product in products %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100" id="product">
                            <a href="#"><img class="card-img-top product-image" src="{{ asset('uploads/product_images/' ~ product.image) }}" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#" class="product-name">{{ product.name }}</a>
                                </h4>
                                <h5 class="product-price">{{ product.price }}</h5>
                                <p class="card-text product-description">
                                {% if product.description|length > 100 %}
                                    {{ product.description[:100] }}...
                                {% else %}
                                    {{ product.description }}
                                {% endif %}
                                </p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary btn-add" id="{{ product.id }}">В корзину</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>

            </div>
        
        </div>

    </div>
{% endblock %}
