{% extends 'base.html.twig' %}

{% block title %}DeliveryOrder index{% endblock %}

{% block body %}
    <h1>DeliveryOrder index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Address</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for checkout in checkouts %}
            <tr>
                <td>{{ checkout.id }}</td>
                <td>{{ checkout.address }}</td>
                <td>{{ checkout.status }}</td>
                <td>
                    <a href="{{ path('checkout_show', {'id': checkout.id}) }}">show</a>
                    <a href="{{ path('checkout_edit', {'id': checkout.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('checkout_new') }}">Create new</a>
{% endblock %}
